<h2>All Heroines</h2>

<%= image_tag("/public/logo/sign-batman.png", size: "500", alt: "Batman") %>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine_path(heroine) %>
    </li>
    <br>
  <% end %>
</ul>
