
<h3>Heroine Name: </h3>
<%= @heroine.name %>
<br>
<h3>Heroine's Super Name: </h3>
<%= @heroine.super_name %><br>

<% @heroine.powers.each do |power| %>
  <%= link_to power.name, power_path(power) %>
<% end %>
