<h1><%= @heroine.super_name %></h1><br>
Also Known As<br> 
<h2><%= @heroine.name %></h2>
<% if !@heroine.powers.empty? %>
    Powers
    <% @heroine.powers.each do |power| %>
        <li><%= link_to power.name, power%></li>
    <% end %>
<% end %>